<h1 id="tableLabel">Movie</h1>

<p>This component demonstrates movies from the server.</p>

<button class="btn btn-primary" [routerLink]="['/movie-add']">Add Movie</button>

<p *ngIf="!movies"><em>Loading...</em></p>



<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let movie"> {{movie.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let movie"> {{movie.name}} </td>
  </ng-container>

  <!-- Movie Length Column -->
  <ng-container matColumnDef="movieL">
    <th mat-header-cell *matHeaderCellDef> Movie Length </th>
    <td mat-cell *matCellDef="let movie"> {{movie.movieL}} </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let movie"> <a matTooltip="Update {{movie.name}}" class="btn btn-primary" href="/movie-update?id={{movie.id}}">Update</a></td>

   <!-- <button mat-icon-button color="primary" matTooltip="Update {{movie.name}}" aria-label="Example icon button with a home icon">
      <mat-icon aria-hidden="false" aria-label="Examplae" href="/movie-update?id={{movie.id}}" style="cursor:pointer">Update</mat-icon>
    </button>-->
  </ng-container>

  <ng-container matColumnDef="delete">
    <th  mat-header-cell *matHeaderCellDef> Delete </th>
    <td  mat-cell *matCellDef="let movie">
   <!--   <button mat-icon-button="" matTooltip="Delete {{movie.name}}" class="btn btn-primary" (click)="deleteMovie(movie)">Delete</button>
    </td>-->

  <button class="btn btn-primary" color="primary" matTooltip="Delete {{movie.name}}" aria-label="Example icon button with a home icon">
    <mat-icon aria-hidden="false" aria-label="Examplae" (click)="deleteMovie(movie)" style="cursor:pointer">Delete</mat-icon>
  </button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
